.contact-nav {
	// .contact-nav__list

	&__list {
		display: flex;
	}

	// .contact-nav__item:not(:last-child)

	&__item:not(:last-child) {
		margin-right: 50px;
	}

	// .contact-nav__link

	&__link {
		padding-top: 32px;
		padding-bottom: 32px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;

		display: inline-flex;
		align-items: center;

		color: $title-text-color;

		transition: color $transition-animation;

		// .contact-nav__link:hover, :focus

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}

	// .contact-nav__icon

	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
}